<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MbappeStats</title>
    <link rel="icon" type="image/png" href="/img/icon.png"/>
</head>
<body>
    <p>Error 404</p>
</body>
</html>