<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MbappeStats</title>

    <link rel="icon" type="image/png" href="/img/icon.png"/>
    <link rel="stylesheet" href="/css/index.css">

    <script src="/script/index.js"></script>
</html>

<body onload="init()">
<div class="up">
    <p class="lastname"><span class="firstname">K.</span>MBAPPÉ</p>
    <image src="/img/free.jpg" class="imgsup"></image>
</div>

<div class="mid">
    <p class="goals-number">SES 0 BUTS</p>
</div>

<div class="goals"></div>

<div class="footer">
    Dev. par l'équipe MbappeStats.com
</div>
</body>